<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS 05</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1> AngularJS Filters </h1>
    <p>AngularJS provides filters to transform data:</p>
    <ul>
        <li>currency - Format a number to a currency format.</li>
        <li>date - Format a date to a specified format.</li>
        <li>filter - Select a subset of items from an array.</li>
        <li>json - Format an object to a JSON string.</li>
        <li>limitTo - Limits an array/string, into a specified number of elements/characters.</li>
        <li>lowercase - Format a string to lower case.</li>
        <li>number - Format a number to a string.</li>
        <li>orderBy - Orders an array by an expression.</li>
        <li>uppercase - Format a string to upper case.</li>
    </ul>

    <h3> 1 - Adding Filters to Expressions with | symbol</h3>
    
    <div ng-app="myApp" ng-controller="personCtrl">

    <p>The name is {{ lastName | uppercase }}</p>
        
    </div>
    <script>
    angular.module('myApp', []).controller('personCtrl', function($scope) {
        $scope.firstName = "John",
        $scope.lastName = "Doe"
    });
    </script>

<h3> 2 - The lowercase filter format strings to lower case: </h3>

<div ng-app="myApp" ng-controller="personCtrl">

<p>The name is {{ lastName | lowercase }}</p>
    
</div>

<script>
angular.module('myApp', []).controller('personCtrl', function($scope) {
    $scope.firstName = "John",
    $scope.lastName = "PUPU"
});
</script>

<h3> 3 - The currency Filter </h3>

    <div ng-app="myApp" ng-controller="costCtrl">

    <h1>Price: {{ price | currency }}</h1>
        
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('costCtrl', function($scope) {
        $scope.price = 28;
    });
    </script>

<h3> 4 - The filter Filter </h3>

<div ng-app="myApp" ng-controller="namesCtrl">

<ul>
    <li ng-repeat="x in names | filter : 'i'">
    {{ x }}
    </li>
</ul>
    
</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'
    ];
});
</script>
    
<p>This example displays only the names containing the letter "i".</p>


<h3>5 - Filter an Array Based on User Input </h3>
<div ng-app="myApp" ng-controller="namesCtrl">

<p>Type a letter in the input field:</p>
    
<p><input type="text" ng-model="test"></p>
    
<ul>
    <li ng-repeat="x in names | filter:test">
        {{ x }}
    </li>
</ul>
    
</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'
    ];
});
</script>
    
<p>The list will only consists of names matching the filter.</p>

<h3> 6 - Sort an Array Based on User Input</h3>

<p>Click the table headers to change the sorting order:</p>

<div ng-app="myApp" ng-controller="namesCtrl">

<table border="1" width="100%"> 
<tr>
<th ng-click="orderByMe('name')">Name</th>
<th ng-click="orderByMe('country')">Country</th>
</tr>
<tr ng-repeat="x in names | orderBy:myOrderBy">
<td>{{x.name}}</td>
<td>{{x.country}}</td>
</tr>
</table>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
            {name:'Jani',country:'Norway'},
            {name:'Carl',country:'Sweden'},
            {name:'Margareth',country:'England'},
            {name:'Hege',country:'Norway'},
            {name:'Joe',country:'Denmark'},
            {name:'Gustav',country:'Sweden'},
            {name:'Birgit',country:'Denmark'},
            {name:'Mary',country:'England'},
            {name:'Kai',country:'Norway'}
        ];
    $scope.orderByMe = function(x) {
        $scope.myOrderBy = x;
    }
});
</script>

<h3> 7 - custom filters</h3>

    <ul ng-app="myApp" ng-controller="namesCtrl">
    <li ng-repeat="x in names">
        {{x | myFormat}}
    </li>
    </ul>

    <script>
        var app = angular.module('myApp', []);
        app.filter('myFormat', function() {
            return function(x) {
                var i, c, txt = "";
                for (i = 0; i < x.length; i++) {
                    c = x[i];
                    if (i % 2 == 0) {
                        c = c.toUpperCase();
                    }
                    txt += c;
                }
                return txt;
            };
        });
        app.controller('namesCtrl', function($scope) {
            $scope.names = [
                'Jani',
                'Carl',
                'Margareth',
                'Hege',
                'Joe',
                'Gustav',
                'Birgit',
                'Mary',
                'Kai'
                ];
        });
    </script>
        
    <p>Make your own filters.</p>
    <p>This filter, called "myFormat", will uppercase every other character.</p>

    
</body>
</html>